*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  

  body{
    background:darkorange;
  }
  
  header{
    border: 1px solid black;
    width:100%;
    height: 100%;
     padding: 5px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
  }
  #btn_mobile{
    display: none;
  }
  .menu{
    width:50px;
    height:50px;
  }

  .Box_h1{
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
  }
  .Box_h1 h1{
    font-size:35px;
    text-align: center;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  #menu {
    display: flex;
    list-style: none;
    gap: .9rem;
  }

  #menu a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: .5rem;
    transition: .5s all;
  }

  #menu a:hover{
    background-color: #d07539;
  }

  
  .Box_title_h2{
    width: 100%;
    height:100% ;
    display: flex;
    border: 1px solid;
    margin-bottom:15px;
    margin-top:15px;
   white-space: nowrap;
   overflow: hidden;
  }
  .Box_title_h2 .title_h2{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    animation: letterspassing 20s linear infinite;
    position: relative;
    text-transform: uppercase;
    padding-right: 150px;
  }
  
  @keyframes letterspassing {
    from{
        right: -550px;
    }
    to{
      right:100%;
    }
}

.Box_btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 1px solid;
}

.Box_btn_one {
  width: 100%;
  text-align: center;
  border-right: 1px solid;
}
.Box_btn_two {
  width: 100%;
  text-align: center;
}
.Box_btn .btn{
  background:black;
  padding:10px;
  border-radius:22px;
  border:none;
  cursor:pointer;
  margin-top:10px;
  color:darkorange;
  padding:10px;
  margin-bottom:15px;
  font-family: 'Poppins', sans-serif;
  transition: .4s all;
   }

   .btn:hover{
    color:black;
    background: #d07539;
   
   }
   .Box_sobre{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-direction: column;
    }
    .Box_h2{
      width: 100%;
      margin-top:35px;
      margin-bottom:10px;
      text-align: center;
      }
    
      .Box_h2 .title_h2_sobre{
        font-size: 5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 15px;
      }

      .Box_sobre p{
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        text-align: center;
      }

      .img_scooby{
        width:250px;
        height:250px;
        border-radius:250px;
        border:4px solid orange;
        object-fit:cover;

      }
      .Container_Box_title_h2{
        width: 100%;
        height:100% ;
        display: flex;
        border: 1px solid;
        margin-bottom:15px;
        margin-top:15px;
       white-space: nowrap;
       overflow: hidden;
      }
      .Container_Box_title_h2 .title_h2{
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Poppins', sans-serif;
        animation: Containerletterspassing 18s linear infinite;
        position: relative;
        text-transform: uppercase;
        padding-right: 150px;
      }
   
      @keyframes Containerletterspassing {
        from{
            left:-550px;
            
          }
          to{
          left:100%;
        }
      }
  
      .container{
        width: 100%;
        height: 100%;
        border: 1px solid;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;  
  }
  .img_Global{
    width:200px;
    height:200px;
    border-radius:250px;
    border:4px solid orange;
    object-fit:cover;
    transition: .5s all;
  }
  .img_Global:hover{
    transform: scale(1.1);
  }
  
  .Card{
    background:black;
    border:1px solid #d07539;
    width:400px;
    height:400px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
     padding-bottom:25px;
    transition: 1s all;
    margin-top: 10px;
  }
  
  .Container_Box_title_h2_reverse{
    width: 100%;
    height:100% ;
    display: flex;
    border: 1px solid;
    margin-bottom:15px;
    margin-top:15px;
   white-space: nowrap;
   overflow: hidden;
  }
  .Container_Box_title_h2_reverse .title_h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    animation: ContainerletterspassingReverse 18s linear infinite;
    position: relative;
    text-transform: uppercase;
    padding-right: 150px;
  }
  @keyframes ContainerletterspassingReverse {
    from{
        right:-550px;
        
      }
      to{
      right:100%;
    }
  }
  .nome{
    width: 100%;
    background:darkorange;
    margin-bottom:5px;
    color:black;
    border:2px solid black;
    text-align: center;
    font-family: 'Poppins', sans-serif;

  }
  
  .idade{
    width: 100%;
     margin-bottom:5px;
      background:darkorange;
    color:black;
     border:2px solid black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn_adotar{
    background:darkorange;
    padding:10px;
    border-radius:22px;
    border:none;
    cursor:pointer;
    margin-top:10px;
    color:black;
    padding:10px;
    margin-bottom:15px;
    font-family: 'Poppins', sans-serif;
    transition: .4s all;
  }

  .btn_adotar:hover{
    color:darkorange;
    background: black;
   
   }

   footer{
    width:100%;
    height: 100%;
     padding: 5px;
  }
   .Container_footer{
      width: 100%;
      border: 1px solid;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

   }
 

   .Box_Icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }

  .icone{
  width:40px;
    height:40px;
     margin:auto;
    border:none
    
  }

  

  .navigation ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  .navigation ul li{
    margin-left:5px;
    padding:10px; 
    color:black;
    font-family: 'Poppins', sans-serif;
    
  }
  .navigation ul li a{
    text-decoration: none;
    color:black;
  }
  .navigation ul li:hover{
    filter: brightness(1.2);
    cursor: pointer;
    border-bottom: 1px solid black;
  }
  
  
  .icon{
    display:inline-block;
   width:40px;
    margin-top:20px;
  }
  
  .infos{
    width: 100%;
    margin-top:40px;
    margin-bottom:40px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  


@media  (min-width:360px) and (max-width:1000px)  {


  header{
    justify-content: space-around;
  }
  .Box_h1{
    width: 50%;

  }
 #btn_mobile{
    display: flex;
  }
  #menu{
    display: block; 
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    transition: .6s;
    background: darkorange;
    z-index: 1000;
  }
  #nav.active #menu{
    height:calc(100vh - 70px) ;
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem ;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

  #btn_mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }
   #hamburguer{
    width: 20px;
    border-top:2px solid ;
  }
  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    border-top:2px solid ;
    display: block;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburguer{

    border-top-color:transparent ;
  }
  #nav.active #hamburguer::before{
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}